{% extends 'base.html' %}
{% block content %}
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="{{ url_for('root') }}">
        <i class="fas fa-chevron-left"></i>
        Back to Dashboard
      </a>
    </div>
  </nav>
  <article class="container-fluid">
    <section class="row">
      <div class="col-6">
        <h2>Application Settings</h2>
        <form action="{{ url_for('setting') }}" method="POST">
          <div class="form-group">
            <label for="default_device_type">Default Device Type</label>
            <select class="form-control" name="device_type">
              <option>Choose...</option>
              <option value="Camera"{% if settings.type == "Camera" %} selected{% endif %}>Camera</option>
              <option value="Gauge"{% if settings.type == "Gauge" %} selected{% endif %}>Gauge</option>
              <option value="RaspberryPi"{% if settings.type == "RaspberryPi" %} selected{% endif %}>RaspberryPi</option>
            </select>
          </div>
          <input type="hidden" name="frame_rate" value="{{ settings.frame_rate }}"/>
          <div class="form-group">
            <label for="default_refresh_rate">Default Refresh Rate</label>
            <select class="form-control" name="refresh_rate">
              <option>Choose...</option>
              <option value="30"{% if settings.refresh_rate == "30" %} selected{% endif %}>30 seconds</option>
              <option value="60"{% if settings.refresh_rate == "60" %} selected{% endif %}>1 minutes</option>
              <option value="300"{% if settings.refresh_rate == "300" %} selected{% endif %}>5 minutes</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </section>
  </article>
</div>
{% endblock %}
