{% extends 'base.html' %}
{% block content %}
<style>
.my-dropdown-toggle {
    background-image: url("/static/img/updown.png")
}
</style>
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="{{ url_for('root') }}">
        <i class="fas fa-chevron-left"></i>
        Back to Dashboard
      </a>
    </div>
  </nav>
  <article class="container-fluid">
    <section class="row">
      <div class="col-12">
        <h2>Device Settings</h2>
      </div>
    </section>
    <section class="row">
      <div class="col-6">
        <form action="{{ url_for('show_device_setting', device_id=device.id) }}" method="POST">
          <!-- Modal HTML -->
          <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-confirm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete this device from the Dashboard?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>This will not affect the device itself.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                  <button name="delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Device Name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="name" name="name" value="{% if device.name == "" %}Device{{ device.id }}{% else %}{{ device.name }}{% endif %}">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary my-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div id="device_names" class="dropdown-menu dropdown-menu-right">
                  {% for name in names%}
                  <a class="dropdown-item" href="#" onClick="document.getElementById('name').value = '{{ name }}'">{{ name }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="url">Device Type</label>
            <select class="custom-select" name="device_type">
              <option>Choose...</option>
              <option value="Camera"{% if device.type == "Camera" %} selected{% endif %}>Camera</option>
              <option value="RaspberryPi"{% if device.type == "RaspberryPi" %} selected{% endif %}>RaspberryPi</option>
            </select>
          </div>
          <input type="hidden" name="frame_rate" value="{{ device.frame_rate }}"/>
          <div class="form-group">
            <label for="url">Refresh Rate</label>
            <select class="custom-select" name="refresh_rate">
              <option>Choose...</option>
              <option value="30"{% if device.refresh_rate == "30" %} selected{% endif %}>30 seconds</option>
              <option value="60"{% if device.refresh_rate == "60" %} selected{% endif %}>1 minutes</option>
              <option value="300"{% if device.refresh_rate == "300" %} selected{% endif %}>5 minutes</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Notes</label>
            <textarea class="form-control" name="notes" rows="3">{{device.notes}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" data-target="#modalDelete" data-toggle="modal" class="btn btn-default ml-4">Delete</button>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
          </div>
          <div class="form-group">
              <img class="img-fluid" src="{{device.image}}" alt="Device Image">
          </div>
          <div class="form-group">
            <label for="threshold">Thresholds</label>
            <div class="form-row">
              <label class="col-sm-2 col-form-label">High:</label>
              <input type="number" class="form-control col-sm-10" name="high_threshold"  value="{{device.high_threshold}}"/>
            </div>
            <div class="form-row">
              <label class="col-sm-2 col-form-label">Low:</label>
              <input type="number" class="form-control col-sm-10" name="low_threshold"  value="{{device.low_threshold}}"/>
            </div>
          </div>
        </form>
      </div>
    </section>
  </article>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
  $('#device_names').width($('#name').width() + 50);
});
</script>
{% endblock %}
